<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DefaultSQL" connectionString="Data Source=localhost;Initial Catalog=;Integrated Security=True" />
    <add name="DefaultMySql" connectionString="Server=localhost;Database=;Uid=;Pwd=;" />
  </connectionStrings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
</configuration>
